# SPDX-License-Identifier: GPL-2.0-only
#
# Microchip network device configuration
#

config SPARX5_SWITCH
	tristate "Sparx5 switch driver"
	depends on NET_SWITCHDEV
	depends on HAS_IOMEM
	depends on OF
	depends on ARCH_SPARX5 || COMPILE_TEST
	depends on PTP_1588_CLOCK_OPTIONAL
	depends on BRIDGE || BRIDGE=n
	select PHYLINK
	select PHY_SPARX5_SERDES
	select RESET_CONTROLLER
	select VCAP
	help
	  This driver supports the Sparx5 network switch device.

config SPARX5_DEBUG
	bool "Sparx5 Switch debugging"
	depends on SPARX5_SWITCH
	help
	  Sparx5 Switch debugging,

	  This adds VCAP and TC command debugging to the runtime.

	  Do not enable this, unless you are debugging the driver.
