// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * lan966x-pcb8385-lan9645x.dts - Device Tree file for LAN966X-PCB8385 board
 * driving Lan9645x on FPGA.
 *
 * Copyright (C) 2022 Microchip Technology Inc. and its subsidiaries
 *
 * Author: Horatiu Vultur <horatiu.vultur@microchip.com>
 * Author: Jerry Ray <jerry.ray@microchip.com>
 */
/dts-v1/;

#include "lan966x.dtsi"
#include "dt-bindings/phy/phy-lan966x-serdes.h"

/ {
	model = "Microchip EDS - LAN9668";
	compatible = "microchip,lan9668-pcb8385", "microchip,lan9668", "microchip,lan966";

	lan9645x_clock: lan9645x-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <66116000>; // fpga clock 66.116mhz, 15.125ns period
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		serial0 = &usart3;
		serial1 = &usart2;
	};

	leds {
		compatible = "gpio-leds";

		led-p1-green {
			label = "cu0:green";
			gpios = <&sgpio_out 2 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "e200413c.mdio-mii:01:link";
		};

		led-p1-yellow {
			label = "cu0:yellow";
			gpios = <&sgpio_out 2 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-p2-green {
			label = "cu1:green";
			gpios = <&sgpio_out 3 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "e200413c.mdio-mii:02:link";
		};

		led-p2-yellow {
			label = "cu1:yellow";
			gpios = <&sgpio_out 3 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio 59 GPIO_ACTIVE_LOW>;
		open-source;
		priority = <200>;
	};
};

&aes {
	status = "disabled"; /* Reserved by secure OS */
};

&gpio {
	emmc_sd_pins: emmc-sd-pins {
		/* eMMC_SD - CMD, CLK, D0, D1, D2, D3, RSTN */
		pins = "GPIO_67", "GPIO_68", "GPIO_69", "GPIO_70",
			"GPIO_71", "GPIO_72", "GPIO_77";
		function = "emmc_sd";
	};

	emmc_pins: emmc-pins {
		/* eMMC - D4, D5, D6, D7 */
		pins = "GPIO_73", "GPIO_74", "GPIO_75", "GPIO_76";
		function = "emmc";
	};

	fc0_b_pins: fc0-b-pins {
		/* SCL, SDA */
		pins = "GPIO_25", "GPIO_26";
		function = "fc0_b";
	};

	fc1_c_pins: fc1-c-pins {
		/* SCL, SDA */
		pins = "GPIO_47", "GPIO_48";
		function = "fc1_c";
	};

	fc2_b_pins: fc2-b-pins {
		/* RX, TX */
		pins = "GPIO_44", "GPIO_45";
		function = "fc2_b";
	};

	fc3_b_pins: fc3-b-pins {
		/* RX, TX */
		pins = "GPIO_52", "GPIO_53";
		function = "fc3_b";
	};

	fc4_b_pins: fc4-b-pins {
		/* SCK, MISO, MOSI */
		pins = "GPIO_56", "GPIO_57", "GPIO_58";
		function = "fc4_b";
	};

	fc_shrd13_pins: fc-shrd13-pins {
		pins = "GPIO_62";
		function = "fc_shrd13";
	};

	sgpio_a_pins: sgpio-a-pins {
		/* SCK, D0, D1, LD */
		pins = "GPIO_32", "GPIO_33", "GPIO_34", "GPIO_35";
		function = "sgpio_a";
	};

	usb_host_a_pins: usb_host_a_pins {
		pins = "GPIO_65", "GPIO_66";
		function = "usb_host_a";
	};

    lan9645x_irq_pins: lan9645x-irq-pins {
        pins = "GPIO_54";
        function = "irq_in_b";
    };
};

&flx0 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";

	i2c0: i2c@600 {
		pinctrl-0 = <&fc0_b_pins>;
		pinctrl-names = "default";
		dmas = <0>, <0>;
		i2c-analog-filter;
		i2c-digital-filter;
		i2c-digital-filter-width-ns = <35>;
		i2c-sda-hold-time-ns = <1500>;
		status = "okay";
	};
};

&flx1 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";

	i2c1: i2c@600 {
		pinctrl-0 = <&fc1_c_pins>;
		pinctrl-names = "default";
		dmas = <0>, <0>;
		i2c-analog-filter;
		i2c-digital-filter;
		i2c-digital-filter-width-ns = <35>;
		i2c-sda-hold-time-ns = <1500>;
		status = "okay";
	};
};

&flx2 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";

	usart2: serial@200 {
		pinctrl-0 = <&fc2_b_pins>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";

	usart3: serial@200 {
		pinctrl-0 = <&fc3_b_pins>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&flx4 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;
	status = "okay";

	spi4: spi@400 {
		clock-names = "spi_clk";
		pinctrl-0 = <&fc4_b_pins>, <&fc_shrd13_pins>;
		pinctrl-names = "default";
		cs-gpios = <&gpio 62 GPIO_ACTIVE_LOW>;
		dmas = <0>, <0>;
		status = "okay";

		lan9645x_soc: soc@0 {
			compatible = "microchip,lan9645x-spi";
			spi-max-frequency = <11000000>;
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;

			mdio@4098 { // miim0
				compatible = "microchip,lan966x-miim";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x4098 0x28>;
				pinctrl-names = "default";
				pinctrl-0 = <&miim0_pins>;
			};

			mdio@40bc { // miim1
				compatible = "microchip,lan966x-miim";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x40bc 0x28>;
				pinctrl-names = "default";
				pinctrl-0 = <&miim1_pins>;

				sw_phy4: ethernet-phy@0 {
					reg = <0x0>;
				};

				sw_phy5: ethernet-phy@1 {
					reg = <0x1>;
				};

				sw_phy6: ethernet-phy@2 {
					reg = <0x2>;
				};

				sw_phy7: ethernet-phy@3 {
					reg = <0x3>;
				};

				sw_phy8: ethernet-phy@4 {
					reg = <0x4>;
				};
			};

            lan9645x_irq: lan9645x_irq@52001c {
				compatible = "microchip,lan9645x-oic";
				reg = <0 0>;

				pinctrl-names = "default";
				pinctrl-0 = <&irq_pins>, <&lan9645x_irq_pins>;

                 microchip,dst_target = < 2 >;
                 microchip,drv_mode = < 0x1 >;

			   interrupt-controller;
			   #interrupt-cells = <1>;
               interrupt-parent = <&lan9645x_irq>;
               interrupts-extended = <&gpio 54 IRQ_TYPE_LEVEL_LOW>;
               interrupt-names = "external-irq";
            };

			// See *bindings/net/dsa.yaml
			// See *bindings/net/dsa-port.yaml
			lan9645x: ethernet-switch@1 {
				compatible = "microchip,lan9645x-switch";
				reg = <0 0>;

               interrupts-extended = <&lan9645x_irq 17>;
               interrupt-names = "lan9645x-ana";

				ethernet-ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						label = "lan0";
						phy-mode = "gmii";
						phy-handle = <&sw_phy4>;
					};

					port@1 {
						reg = <1>;
						label = "lan1";
						phy-mode = "gmii";
						phy-handle = <&sw_phy5>;
					};

					port@2 {
						reg = <2>;
						label = "lan2";
						phy-mode = "gmii";
						phy-handle = <&sw_phy6>;
					};

					port@3 {
						reg = <3>;
						phy-mode = "gmii";
						phy-handle = <&sw_phy7>;

						//DSA cpu port to maserati
						ethernet = <&port1>;
						fixed-link {
								speed = <1000>;
								full-duplex;
						};
					};

					port@4 {
						reg = <4>;
						label = "lan4";
						phy-mode = "gmii";
						phy-handle = <&sw_phy8>;
					};
				};
			};

			gpio_lan9645x: pinctrl@4028 {
				compatible = "microchip,lan9645x-pinctrl";
				reg = <0x4028 0x6c>;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&gpio_lan9645x 0 0 44>;

				sgpio_pins: sgpio-pins {
					pins = "GPIO_7", "GPIO_8", "GPIO_9", "GPIO_10";
					function = "sgpio_a";
				};

				miim0_pins: miim0-pins { // miim0: 28,29. there are many choices here?
					pins = "GPIO_28", "GPIO_29";
					function = "miim";
				};

				miim1_pins: miim1-pins { // miim1: 0,1. there are many choices here?
					pins = "GPIO_0", "GPIO_1";
					function = "miim";
				};

                irq_pins: irq-pins {
                    pins = "GPIO_33";
                    function = "irq0";
                };
			};

			gpio@40d4 {
				compatible = "microchip,sparx5-sgpio";
				reg = <0x40d4 0x46>;

				bus-frequency = <6611600>;
				clocks = <&lan9645x_clock>; // 1/10th of lan9645x clock

				#address-cells = <1>;
				#size-cells = <0>;

				pinctrl-names = "default";
				pinctrl-0 = <&sgpio_pins>;
				status = "okay";

				sgpio_lan9645x_in: gpio@0 {
					compatible = "microchip,sparx5-sgpio-bank";
					reg = <0>;
					gpio-controller;
					#gpio-cells = <3>;
					// interrupts = <18>;
					// interrupt-controller;
					// #interrupt-cells = <1>;
				};

				sgpio_lan9645x_out: gpio@1 {
					compatible = "microchip,sparx5-sgpio-bank";
					reg = <1>;
					gpio-controller;
					#gpio-cells = <3>;
				};
			};

				lan9645x_serdes: serdes@b0000 {
					compatible = "microchip,lan9645x-serdes";
					reg = <0xb0000 0x390>;
					#phy-cells = <2>;
					status = "okay";
				};
		};
	};
};

&i2c0 {
	eeprom@54 {
		compatible = "atmel,24c01";
		reg = <0x54>;
		status = "okay";
	};

	eeprom@55 {
		compatible = "atmel,24c01";
		reg = <0x55>;
		status = "okay";
	};

	/* UCS2113 at 0x57 */
};

&qspi0 {
	status = "okay";

	spi-flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		m25p,fast-read;
	};
};

&sdmmc0 {
	bus-width = <8>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	non-removable;
	pinctrl-0 = <&emmc_sd_pins>, <&emmc_pins>;
	pinctrl-names = "default";
	no-1-8-v;
	mmc-ddr-3_3v;
	tx-phase = <0>; /* 180 degrees phase shift */
	status = "okay";
};

&sgpio {
	pinctrl-0 = <&sgpio_a_pins>;
	pinctrl-names = "default";
	microchip,sgpio-port-ranges = <0 3>;
	status = "okay";

	gpio@0 {
		ngpios = <64>;
	};
	gpio@1 {
		ngpios = <64>;
	};
};

&spi4 {
	spidev: spidev@0 {
		compatible = "linux,spidev";
		reg = <0>;
		spi-max-frequency = <2000000>;
		status = "okay";
	};
};

&usb {
	dr_mode = "host";
	pinctrl-0 = <&usb_host_a_pins>;
	pinctrl-names = "default";
	status = "okay";
};


&mdio1 {
	status = "okay";
};

&phy0 {
	status = "okay";
};

&phy1 {
	status = "okay";
};

&port0 {
	phy-handle = <&phy0>;
	phy-mode = "gmii";
	phys = <&serdes 0 CU(0)>;
	status = "okay";
};

&port1 {
	phy-handle = <&phy1>;
	phy-mode = "gmii";
	phys = <&serdes 1 CU(1)>;
	status = "okay";

	// lan9645x DSA port
	#address-cells = <1>;
	#size-cells = <0>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&serdes {
	status = "okay";
};

&switch {
	status = "okay";
};
